.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
.gitignore
**/auto-imports.d.ts
**/components.d.ts
frontend/sapier/src/auto-imports.d.ts
frontend/sapier/src/components.d.ts